
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer-One{
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: #fef4f5;
    border-radius: 10px;
    margin-right : 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    img{
        width: 40px;
       height: 60%;
    }
}
.Footer-Two{
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: #f2f7fb;
    margin: 0.5rem;
    img{
        width: 40px;
       height: 60%;
    }
}